@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "github-markdown-css/github-markdown.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 0;
  }
}
